# ignore venv
bin
lib
lib64
include
pyvenv.cfg
share
__pycache__

# ignore dataets
cifar-10-python.tar.gz
BNB_All_NoWire_00.h5
higgs
higgs.zip
HIGGS.csv.gz

# ignore rust project for higgs regularization
regularize

# ignore output images
*.png
